/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles  */

body {
    font-family: 'Poppins', sans-serif;
}

.link-decoration:hover {
    color: #4285F4;
    transition: all 0.5s;
}


/* footer {
    position: relative;
    top:100vh;
    left:50%;
    transform: translate(-50%,-50%);
} */